body {
    background-image: url(../images/background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
  }
  
  #main {
    width: 850px;
    font-family: " Trebuchet MS	";
    background-color: black;
    opacity: 80%;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    color: white;
  }
  
  #results {
    width: 700px;
    margin: auto;
    margin-top: 30px;
    border-radius: 20px;
    padding: 20px;
  }
  
  .result-card {
    width: 600px;
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    display: inline-block;
  }
  #user-section {
    width: 300px;
    background-color: SteelBlue;
    color: black;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    display: inline-block;
  }

  #user-section2 {
    width: 300px;
    background-color: SteelBlue;
    color: black;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    display: inline-block; 
  }

  #user-section3 {
    width: 300px;
    background-color: SteelBlue;
    color: black;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    display: inline-block; 
  }

  .card-number {
    font-style: italic;
    font-family: sans-serif;
    background-color: rgb(2, 163, 216);
  }
  
  .card-level{
    background-color: rgb(18, 45, 66);
    color: white;
    text-align: center;

  }
  .card-color {
    width: 400px;
    font-family: sans-serif;
    text-align: center;

  }
  .card-effect {
    background-color: LightSteelBlue;
    font-family: sans-serif;
    width: 600px;
  }

  .card-title {
    font-family: sans-serif;
  }
  .card-image2:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }